@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.stats-container {
  /* border: 3px solid purple; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.stats-container > * {
  border: 2px solid yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* @TODO: extra div for alignment needed --> align flex with direction row */

/* .stats-container > h3 {
  margin-left: 20px;
  margin-right: 20px;
} */

/* .stats-container > * > * {
  border: 3px solid teal;
  display: flex;
} */

